<div class="user-card">
  <div class="card" style="width: 24rem;">
    <img src="/images/blank-profile-picture-973460_1280.webp" class="card-img-top" alt="">
    <div class="card-header black modal-body">{{user.username}}</div>
    <div class = "card-body">
      <p>
          Email: {{user.email}}<br>
          {{!-- Github: {{github}}<br>
          LinkedIn: {{github}}<br>
          About: {{about}}<br> --}}
      </p>
    </div>
  </div>
</div>